html {
  margin: 0;
  background-color: rgb(26, 23, 23);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  height: 20%;
  width: 20%;
  margin: 5% 0%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
}
.title {
  align-items: center;
  text-align: center;
  margin: 5% 0%;
  font-size: 7vw;
  color: rgb(253, 248, 237);
}
.quote {
  margin-left: auto;
  margin-right: auto;
  font-size: 3vw;
  height: 25%;
  width: 65%;
  padding: 40px;
  border-radius: 40px;
  background-color: rgb(253, 248, 237);
  color: rgb(26, 23, 23);
  text-align: center;
}
